:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.spinner{
  display: grid;
  align-content: center;
  justify-items: center;
  position: fixed;
  width: 800px;  
  height: 100vh;
}
*{
  padding: 0;
  margin: 0;    
}

.titulo{
  text-align: center;
  font-size: 45px;
}
.menu_inicial{
  align-items: center;
}
.menu_btn{
  display: block;
 
}
.menu_inicial_btns{
  display: flex;
  justify-content: center;
 
}
a{
  text-decoration: none;
}
body{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(/src/img/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
.main{
  width: 1500px;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;  
  padding: 20px;
  
}
.div-lista{
  width: 500px;
  display: flex;
  justify-content: end;  
  z-index: 1;
}
.lista{
  padding: 20px 25px ;
  border-radius: 50px;
  border: 2px solid; 
  margin: 50px -20px; 
  z-index: 1;
}
.cadastro{  
  width: 500px;
  height: 45%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-right: 10px;
  border: 3px solid rgb(233, 233, 233);
  border-radius: 20px;
  background-color: #656fad;    
  opacity: 0.9;
}
.msg_ok{
  background-color: #52d684;
  padding: 10px;
  margin-top: 10px;
  border-radius: 25px;
  transition: ease-in-out 500ms;
}
.msg_negative{
  z-index: 0;
  margin-top: 10px;
  padding: 10px;
  background-color: #f28686;
  border-radius: 25px;
  transition: ease-in-out 500ms;
}
.produtos_listados{
  border: 3px solid rgb(231, 224, 224);
  border-radius: 20px;
  display: flex;
  padding: 15px; 
  margin-left: 10px;
  width: 800px;
  height: 100%;
  background-color: #C7DBD2;
  align-self: flex-start;
  box-sizing: border-box;
}

.cadastro h1{
  color: aliceblue;
}

header{
  margin: 25px;
}
.nav{
  display: flex;
}
.home{
  color: white;
  cursor: pointer;
  padding: 35px;
  background-color:#9684a3;
  border-radius: 25px; 
  display: flex;
  align-items: center; 
}
.add{
  color: white;
  cursor: pointer;
  padding: 25px;
  background-color:#9684a3;
  border-radius: 25px; 
  display: flex;
  align-items: center;
}
.consult{
  color: white;
  cursor: pointer;
  padding: 25px;
  background-color: #9684a3;   
  border-radius: 25px; 
  display: flex;
  align-items: center;
}
.home:hover{
  transition: all 0.5s;
  background-color: #551bb3;  
} 
.consult:hover{
  transition: all 0.5s;
  background-color: #551bb3;  
} 
.add:hover{
  transition: all 0.5s;
  background-color: #551bb3;  
} 

.especificacoes{
  font-size: 22px;
  display: grid;
  width: 100%;
  grid-template-columns: 55% 15% 15% 7% 7%;
  font-weight: 700;  
}
.especificacoes2{
  font-size: 18px;
  display: grid;
  align-self: center;
  align-items: center;
  width: 100%;
  font-weight: 700;
  grid-template-columns: 55% 15% 15% 7% 7%;    
}

.msg_carregando_produtos{
  display: block;
}
.tabela{
  display: flex;
  flex-direction: column;
  width: 700px;
}


.form{
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 20px;
}
.form input{
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 20px ;
  font-weight: 700;
  font-size: 16px;

}
.btnSalvar{
  font-size: 18px;
  border-radius: 20px;
  padding: 5px;
  cursor: pointer;
}

.btns_action{
  border: 0px;
  cursor: pointer;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-self: center;
  background-color: transparent;
  margin: 3px;
}
.fechar{
  display: grid;
  justify-content: end;
}
.save{    
  display: grid;    
  align-self: center;
  justify-content: center;
}
.btnSalvarEdi{
  cursor: pointer;
}
.background_popup{
  display: none;
  position: absolute;
  justify-items: center;
  align-items: center;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.254), rgba(5, 5, 5, 0.362));
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100vh;
}
.popup{
  position: fixed;
  display: grid;
  grid-template-rows: 5% 20% 20% 20% 20%;
  justify-content: space-evenly;
  padding: 25px;
  width: 400px;
  height: 500px;
  background-color: rgb(47, 181, 132);
  border: 2px solid black;
  border-radius: 20px;
}

.popup input, label, button{
  display: grid;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  border-radius: 15px;
    
}



